@model DVDRental.Models.Loan

@{
    ViewData["Title"] = "Details";

}

@using (Html.BeginForm())
{
    
    <p style= " margin-top: 25px;">
        Enter member number : <input type="number" asp-for="MemberNumber" name="searchString"/>  
        <input type="submit" value="Search" />
    </p>
}

<div>
    <h4 style="align-content:center">Last Loan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            DVD:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DVDCopy.DVDTitle.title)
        </dd>
        <dt class = "col-sm-2">
            Borrower/Member:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member.MemberFirstName) @Html.DisplayFor(model => model.Member.MemberLastName)
        </dd>
       
        
        <dt class = "col-sm-2">
            Returned?
        </dt >
        <dd class = "col-sm-10">
            @if (Model == null)
            {
                
            }
            else if(Model.DateReturned == null)
            {
                @Html.Encode("No");
            }
            else
            {
                @Html.Encode("Yes");
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReturned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReturned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanTypeNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanTypeNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CopyNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CopyNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberNumber)
        </dd>
            @if (Model == null)
            {
                
            }
            else if(Model.DateReturned == null)
            {
        <dd class = "col-sm-10">
            <a class="btn btn-secondary" asp-area="" asp-route-id="@Model.CopyNumber" asp-controller="DVDReturn"  >Return DVD</a>
        </dd>
            }
    </dl>
</div>
