@using DVDRental.Areas.Identity.Data
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "User Page";
}

@model ICollection<ApplicationUser>

<h1  style="padding-top: 25px; padding-bottom: 20px;">Users</h1>

<p>
    <a asp-action="Create">Create a New User</a>
</p>

    @if(@Model != null && @Model.Any())
    {
        <table class="table">
          <thead>
            <tr>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th>Roles</th>
              <th scope="col">Advanced Options</th>
              <th scope="col">Manage Roles</th>
            </tr>
          </thead>
          <tbody>
                @foreach(var user in Model)
                {
                    <tr>
                      <td scope="row">@user.FirstName</td>
                      <td scope="row">@user.LastName</td>
                      <td>@user.Email</td>
                      <td>@string.Join(" , ", user.Roles.ToList())</td>
                      <td>
                          <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id">Edit</a> |                                         
                          <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id">Delete</a> 
                      </td>
                       <td>
                <a class="btn btn-primary" asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@user.Id">Manage Roles</a>
            </td>
                    </tr>
                }
          </tbody>
        </table>
    }
